<h1>Users</h1>

<ul>
  <% @users.each do |user| %>
    <%if current_user.email == user.email %>
      <li><%= link_to user.email, edit_user_path(user) %></li>
     <%else%> 
      <li><%= user.email %></li>
    <%end%>
  <% end %>
</ul>
