<!DOCTYPE html>
<html lang="en">

<div id="menu_bar">

  <div id="user_info">
    <ul class="list-inline">
      <% if user_signed_in? %>
        <li><%= current_user.email %></li>
        <li><%=link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%=link_to "Sign In", new_user_session_path %></li>
        <li><%=link_to "Sign Up", new_user_registration_path %></li>
      
      <% end %>
    </ul>
  </div>
</div>

<h4>Home Page</h4>


</html>

