@-moz-keyframes slide {
	0% {
		opacity: 0;
		left: -5em;
	}

	15% {
		opacity: 1;
		left: 1em;
	}

	85% {
		opacity: 1;
		left: 1em;
	}

	100% {
		opacity: 0;
		left: -5em;
	}
}

@-webkit-keyframes slide {
	0% {
		opacity: 0;
		left: -5em;
	}

	15% {
		opacity: 1;
		left: 1em;
	}

	85% {
		opacity: 1;
		left: 1em;
	}

	100% {
		opacity: 0;
		left: -5em;
	}
}
