.sp {
	margin-bottom: 1em;
}

.sp_top {
	margin-top: 1em;
}

.sp_lg {
	margin-bottom: 2em;
}

.sp_xl {
	margin-bottom: 3em;
}

.pad {
	padding: 1em;
}

.pad_t {
	padding-top: 1em;
}

.pad_b {
	padding-bottom: 1em;
}
