// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";
@import "utilities";
@import "animations";

body {
	margin: 0;
	font-family: fira_sans;
}

a {
	text-decoration: none;
}

h2 {
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 18px;
}

input[type=text], input[type=password], input[type=email] {
	padding: 0.5em;
	border-radius: 5px;
	font-size: 14px;
	width: 250px;
}

td {
	padding: 0 2em 1em 0;
}

th {
  text-align: left;
}

.btn {
	padding: 0.5em;
	background: #eee;
	border-radius: 5px;
	color: #666;
	text-decoration: none;
	cursor: pointer;
	border: none;
	font-family: fira_sans;
	font-size: 16px;
}

.btn:hover {
	background: #ddd;
}

#auth {
	width: 250px;
	margin: 0 auto;
}

#menu_bar li {
	list-style: none;
	display: inline-block;
	padding: 10px; width:80px;
}

#user_info  {
  text-align: right;
	font-size:  16px;
	display: inline;
  ul {
    margin: .2em 0;
  }
}

ul.list-inline {
	list-style:  none;
	float: right;

	li {
		padding-right: 1em;
		display: inline;
	}
}

nav {
	.nav-item {
		display: inline-block;
		padding: 1em 0;
		margin-left: 1em;
	}

	.app-name {
    padding: 1em 0;
    margin-left: 1em;
		font-weight: bold;
		color: maroon;
		font-size: 22px;
	}
}

nav .lower {
  background: $c-cosmic-latte;
}

nav .upper {
  background: $c-cosmic-miel;
}

.nav-wrap {
	width: $v-page-width;
	margin: 0 auto;
}

#yield {
	width: $v-page-width;
	margin: 0 auto;
}

.flash {
    padding: 1em;
    position: absolute;
    opacity: 0;
	left: -5em;
    top: 1em;

    -webkit-animation-duration: 5s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: slide;
    -moz-animation-name: slide;
  	animation-name: slide;
}

.alert {
	@extend .flash;
	background: $c-red;
}

.notice {
	@extend .flash;
	background: $c-green;
}

form {
	.form-entry {
		padding-bottom: 1em;
		label {
			width: 10%;
			display: inline-block;
			text-align: right;
			margin-right: 1em;
		}
	}
}

.delete {
	color: $c-red;
}
