---
http_interactions:
- request:
    method: get
    uri: https://dgritest.nationbuilder.com/api/v1/tags/Dummy-Data/people?access_token=14d888129f69ae12bd3104c2f62cfc7036ce95d395061d1a3cdb10dc91f0a7d0&page=1&per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f0109b4771fed5548346ccc0aeb696de"
      Nation-Ratelimit-Limit:
      - '10000'
      Nation-Ratelimit-Remaining:
      - '9991'
      Nation-Ratelimit-Reset:
      - '1417737600'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - 10s
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1417722294'
    body:
      encoding: UTF-8
      string: '{"page":1,"total_pages":3,"per_page":100,"total":249,"results":[{"birthdate":null,"city_district":null,"civicrm_id":null,"county_district":null,"county_file_id":null,"created_at":"2014-12-04T14:26:42-05:00","datatrust_id":null,"do_not_call":false,"do_not_contact":false,"dw_id":null,"email":"calvin.alex@windwindow.org","email_opt_in":true,"employer":"","external_id":null,"federal_district":null,"fire_district":null,"first_name":"Byron","has_facebook":false,"id":263,"is_twitter_follower":false,"is_volunteer":false,"judicial_district":null,"labour_region":null,"last_name":"Hendricks","linkedin_id":null,"mobile":"710-580-0558","mobile_opt_in":true,"nbec_guid":null,"ngp_id":null,"note":null,"occupation":"","party":null,"pf_strat_id":null,"phone":"","precinct_id":null,"primary_address":null,"profile_image_url_ssl":"https://d3n8a8pro7vhmx.cloudfront.net/assets/icons/buddy.png","recruiter_id":null,"rnc_id":null,"rnc_regid":null,"salesforce_id":null,"school_district":null,"school_sub_district":null,"sex":"","signup_type":0,"state_file_id":null,"state_lower_district":null,"state_upper_district":null,"support_level":null,"supranational_district":null,"tags":["Dummy-Data"],"twitter_id":null,"twitter_name":null,"updated_at":"2014-12-04T14:33:33-05:00","van_id":null,"village_district":null,"work_phone_number":""},{"birthdate":null,"city_district":null,"civicrm_id":null,"county_district":null,"county_file_id":null,"created_at":"2014-12-04T14:26:42-05:00","datatrust_id":null,"do_not_call":false,"do_not_contact":false,"dw_id":null,"email":"milo.jed.frances@stamp.me","email_opt_in":true,"employer":null,"external_id":null,"federal_district":null,"fire_district":null,"first_name":"Harriet","has_facebook":false,"id":262,"is_twitter_follower":false,"is_volunteer":false,"judicial_district":null,"labour_region[...]
[...]
